apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: demo-app
  labels:
    app: demo-app
  annotations:
    kubernetes.io/ingress.class: "kong"
spec:
  ingressClassName: kong
  rules:
  - host: kiranprasad.portofolio.live
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: demo-app
            port:
              number: 8080
